@mixin primary-font {
    font-family: 'Shrikhand', cursive;
}

@mixin secondary-font {
    font-family: 'Roboto', sans-serif;
}

@mixin primary-button {
    width: 200px;
    margin: 0px auto;
    padding: 20px 30px 20px 30px;
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

@mixin primary-button--hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px #FFF;
}


@mixin primary-color-active {
    background-color: rgba(89, 44, 143, 0.1);
}