@mixin primary-font {
    font-family: 'Shrikhand', cursive;
}

@mixin secondary-font {
    font-family: 'Roboto', sans-serif;
}

@mixin primary-button {
    width: 200px;
    margin: 0px auto;
    padding: 20px 30px 20px 30px;
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

@mixin primary-button--hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px #FFF;
}


@mixin primary-color-active {
    background-color: rgba(89, 44, 143, 0.1);
}

@keyframes slideHeaderBack {
    from {                                  // Point de départ de l'animation
        transform: translateX(0);
        opacity: 1;
    }
    to {                                    // Point d'arrivée de l'animation
        transform: translateX(-10px);
        opacity: .6;
    }
}

@keyframes slideBottom {
    from {                                  // Point de départ de l'animation
        transform: translateY(30px);
        opacity: 0;
    }
    to {                                    // Point d'arrivée de l'animation
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {                                  // Point de départ de l'animation
        width: 0%;
    }
    to {                                    // Point d'arrivée de l'animation
        width: 20%;
    }
}

@keyframes loading-spinner {
    0% {
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes spinner-load {
    0% {
        transform: scale(1) rotate(0deg);
        animation-delay: 1s;
    }
    100% {
        transform: scale(1) rotate(360deg);
        animation-duration: 1s;
    }
}