@mixin primary-font {
    font-family: 'Shrikhand', cursive;
}

@mixin secondary-font {
    font-family: 'Roboto', sans-serif;
}

@mixin primary-button {
    padding: 20px 30px 20px 30px;
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
}

@mixin primary-button--hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px #FFF;
}


@mixin primary-color-active {
    background-color: rgba(89, 44, 143, 0.1);
}

@mixin like-button {
    font-size: 30px;
    margin: 0 40px 0 0;
    color: red;
    transition-duration: 400ms;
}

@mixin like-button--hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: #9356DC;
    cursor: pointer;
}