@import "./variables";
@import "./mixins";

body {
    margin: 0;
    padding: 0;
    @include secondary-font;

    & h1 {
        @include primary-font;
    }

    & h2 {
        font-size: 1.7rem;
        font-weight: 900;
        margin: 40px 0 0 20px;
        @include secondary-font;
    }

    .first-btn {
        @include primary-button;
    }
    
    .first-btn:hover {
        @include primary-button--hover;
    }
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
        width: 300px;
        margin: 0;
        font-weight: 200;
        text-align: center;
    }

    .header__back {
        font-size: 1.5em;
        color: #000;
    }
}

.location {
    background: $bloc-secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 50px 0;

    &__city {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $bloc-primary-color;

        & span {
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 0 70px;
        }

        & input {
            background: $bloc-primary-color;
            font-size: 1em;
            padding: 10px;
            border: none;
        }

        & input::placeholder {
            font-weight: bold;
        }
    }

    &__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0 20px 0;

        & h2 {
            width: 70%;
        }

        & p {
            width: 80%;
            font-size: 1.2rem;
            font-weight: 700;
            color: grey;
            margin: 20px 0 60px 0;
        }

        & a {
            text-decoration: none;
        }
    }
}

.operation {
    margin: 40px 0 30px 0;
    padding: 0;

    & ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        & a {
            width: 80%;
            margin: 0 0 20px 0;
            padding: 20px;
            text-decoration: none;
            color: #000;
            background: $bloc-secondary-color;
            box-shadow: 5px 5px 10px $bloc-primary-color;
            border-radius: 15px;
            display: flex;
            
            & li {
                width: 90%;
                font-size: 1.2em;
                font-weight: 700;
                margin: 0 0 0 10px;

                & i {
                    color: grey;
                    margin: 0 20px 0 0;
                }
            }

            & span {
                width: 10px;
                height: 10px;
                position: relative;
                padding: 8px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                background: $primary-color;
                color: #FFF;
                left: -30px;
                top: -1px;
            }
        }

        & .a--event {
            @include primary-color-active;

            & i {
                color: $primary-color;
            }
        }
    }
}

.operation_float {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    left: -15px;
    padding: 5px;
    color: #FFFFFF;
    background: $primary-color;
}

.restaurants {
    padding: 25px 0 80px 0;
    background: $bloc-secondary-color;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & a {
            width: 80%;
            color: #000;
            text-decoration: none;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & a:hover .fig-img {
            opacity: 0.33;
        }

        & figure {
            background: #FFF;
            margin: 30px 0 0 0;
            padding: 0 0 15px 0;
            border-radius: 20px;
            box-shadow: 5px 5px 10px $bloc-primary-color;
            
            .figure__new {
                background-color: #99e2d0;
                color: #008766;
                padding: 5px 10px 5px 10px;
                font-size: 0.9em;
                font-weight: 700;
                position: relative;
                margin: 0;
                z-index: 1;
                bottom: 240px;
                left: 290px;

            }

            & img {
                width: 100%;
                height: 200px;
                margin: 0;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
                transition-duration: 0.5s;
            }

            & figcaption {
                padding: 10px 0 0 15px;
                display: flex;
                align-items: center;

                & p {
                    margin: 0;
                    font-size: 1.1em;
                }

                & div {
                    flex: 1;
                }

                .like-heart {
                    font-size: 30px;
                    margin: 0 40px 0 0;
                    transition-duration: 400ms;
                }

                .like-heart:hover {
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    background-color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
}

.carte {
    padding: 0;
    margin: 0;

    &__blanket {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &__container {
        position: relative;
        top: -30px;
        border-radius: 30px 30px 0 0;
        padding: 20px;
        margin: 0 0 -30px 0;
        background: $bloc-primary-color;

        .carte__container__top {
            display: flex;
            align-items: center;
            padding: 0 0 20px 0;
    
            & h2 {
                margin: 0;
                font-weight: 200;
                flex: 1;
                @include primary-font;
            }

            .carte__heart {
                font-size: 1.8em;
                transition-duration: 400ms;
            }

            .carte__heart:hover {
                color: red;
                cursor: pointer;
            }
        }

        & section {
            display: flex;
            flex-direction: column;

            & h3 {
                color: grey;
                text-transform : uppercase;
                font-weight: 200;
                border-bottom: 4px solid $tertiary-color;
            }

            & ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style-type: none;
                padding: 0;

                & li {
                    width: 95%;
                    background: #FFF;
                    box-shadow: 2px 2px 10px #dbd9d9;
                    border-radius: 20px;
                    margin: 0 0 20px 0;
                    display: flex;

                    .carte-choice {
                        flex: 1;
                        padding: 20px;

                        & h4 {
                            font-size: 1.2em;
                            margin: 0;
                        }

                        & a {
                            color: #000;
                            text-decoration: none;
                        }

                        & a:hover {
                            color: $tertiary-color;
                        }

                        & .carte-desc {
                            display: flex;
                            align-items: center;

                            & p {
                                margin: 0;
                                color: grey;
                                flex: 1;
                            }

                            .choice-price {
                                margin: 0;
                                font-weight: 800;
                            }
                        }
                    }

                    .carte-valide {
                        width: 15%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $tertiary-color;
                        border-radius: 0 20px 20px 0;
                        display: none;

                        .fas-circle {
                            font-size: 1.5em;
                            color: #FFF;
                        }
                    }
                }

                & li:hover {
                    cursor: pointer;
                }

                & li:hover .carte-valide {
                    display: flex;
                }

                .carte-check {
                    margin: 20px 0 20px 0;
                    @include primary-button;
                }

                .carte-check:hover {
                    cursor: pointer;
                    @include primary-button--hover;
                }
            }
        }
    }
}

footer {
    margin: 0;
    padding: 20px;
    color: #FFF;
    background-color: #353535;    

    & h2 {
        margin: 0;
        font-weight: 100;
        @include primary-font;
    }

    & ul {
        list-style-type: none;
        padding: 0;

        & li {
            margin: 10px 0 0 0;

            .fa-utensils, .fa-hands-helping {
                margin: 0 10px 0 0;
            }
        }

        & a {
            color: #FFF;
            text-decoration: none;
        }
    }
}