@import "./variables";
@import "./mixins";

body {
    margin: 0;
    padding: 0;
    @include secondary-font;

    & h1 {
        @include primary-font;
    }
}

h2 {
    font-size: 1.7rem;
    font-weight: 900;
    margin: 40px 0 0 20px;
    @include secondary-font;
}

.operation_float {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    left: -15px;
    padding: 5px;
    color: #FFFFFF;
    background: $primary-color;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;

    & h1 {
        width: 300px;
        margin: 0;
        font-weight: 200;
        text-align: center;
    }
}

.location {
    background: $bloc-secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 50px 0;

    &__city {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $bloc-primary-color;

        & span {
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 0 70px;
        }

        & input {
            background: $bloc-primary-color;
            font-size: 1em;
            padding: 10px;
            border: none;
        }

        & input::placeholder {
            font-weight: bold;
        }
    }

    &__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0 20px 0;

        & h2 {
            width: 70%;
        }

        & p {
            width: 80%;
            font-size: 1.2rem;
            font-weight: 700;
            color: grey;
            margin: 20px 0 60px 0;
        }

        & span {
            @include primary-button;
        }

        & a {
            text-decoration: none;
        }
    }
}

.operation {
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & a {
        text-decoration: none;
        font-weight: 800;
    }

    & i {
        margin: 0 20px 0 10px;
        color: grey;
    }

    &__bloc {
        width: 80%;
        padding: 20px 0 20px 0;
        margin: 0 0 20px 0;
        background: $bloc-secondary-color;
        box-shadow: 3px 3px 5px $bloc-primary-color;
        border-radius: 20px;
        color: #000;
        font-weight: 800;
        display: flex;
        align-items: center;
    }
}