body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-family: "Shrikhand", cursive;
}
body h2 {
  font-size: 1.7rem;
  font-weight: 900;
  margin: 40px 0 0 20px;
  font-family: "Roboto", sans-serif;
}
body .first-btn {
  width: 200px;
  margin: 0px auto;
  padding: 20px 30px 20px 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
body .first-btn:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 10px #FFF;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  width: 300px;
  margin: 0;
  font-weight: 200;
  text-align: center;
}
header .header__back {
  font-size: 1.5em;
  color: #000;
}

.location {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;
}
.location__city {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
.location__city span {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 70px;
}
.location__city input {
  background: #EAEAEA;
  font-size: 1em;
  padding: 10px;
  border: none;
}
.location__city input::placeholder {
  font-weight: bold;
}
.location__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
}
.location__container h2 {
  width: 70%;
}
.location__container p {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 700;
  color: grey;
  margin: 20px 0 60px 0;
}
.location__container a {
  text-decoration: none;
}

.operation {
  margin: 40px 0 30px 0;
  padding: 0;
}
.operation ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.operation ul li {
  width: 80%;
  margin: 0 0 20px 0;
  padding: 20px;
  background: #F6F6F6;
  box-shadow: 5px 5px 10px #EAEAEA;
  border-radius: 15px;
  position: relative;
}
.operation ul li span {
  width: 10px;
  height: 10px;
  padding: 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background: #9356DC;
  color: #FFF;
  position: absolute;
  top: 15px;
  left: -12px;
}
.operation ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.operation ul li a i {
  color: grey;
  margin: 0 20px 0 20px;
}
.operation ul .a--event {
  background-color: rgba(89, 44, 143, 0.1);
}
.operation ul .a--event i {
  color: #9356DC;
}

.operation_float {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  left: -15px;
  padding: 5px;
  color: #FFFFFF;
  background: #9356DC;
}

.restaurants {
  padding: 25px 0 80px 0;
  background: #F6F6F6;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurants__container a {
  width: 80%;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurants__container a:hover .fig-img {
  opacity: 0.33;
}
.restaurants__container figure {
  background: #FFF;
  position: relative;
  margin: 30px 0 0 0;
  padding: 0 0 15px 0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #EAEAEA;
}
.restaurants__container figure .figure__new {
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px 5px 10px;
  font-size: 0.9em;
  font-weight: 700;
  position: absolute;
  margin: 0;
  z-index: 1;
  top: 15px;
  right: 15px;
}
.restaurants__container figure img {
  width: 100%;
  height: 200px;
  margin: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  transition-duration: 0.5s;
}
.restaurants__container figure figcaption {
  padding: 10px 0 0 15px;
  display: flex;
  align-items: center;
}
.restaurants__container figure figcaption p {
  margin: 0;
  font-size: 1.1em;
}
.restaurants__container figure figcaption div {
  flex: 1;
}
.restaurants__container figure figcaption .like-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.restaurants__container figure figcaption .like-button .fa-heart {
  font-size: 30px;
}
.restaurants__container figure figcaption .like-button .heart {
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 2px white;
}
.restaurants__container figure figcaption .like-button .heart-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.6s ease;
}
.restaurants__container figure figcaption .like-button .heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}
.restaurants__container figure figcaption .like-button .heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

.carte {
  padding: 0;
  margin: 0;
}
.carte__blanket {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.carte__container {
  position: relative;
  top: -30px;
  border-radius: 30px 30px 0 0;
  padding: 20px 20px 80px 20px;
  margin: 0 0 -30px 0;
  background: #EAEAEA;
}
.carte__container .carte__container__top {
  display: flex;
  align-items: center;
  padding: 0 0 20px 0;
}
.carte__container .carte__container__top h2 {
  margin: 0;
  font-weight: 200;
  flex: 1;
  font-family: "Shrikhand", cursive;
}
.carte__container .carte__container__top .like-button {
  position: absolute;
  right: 25px;
  top: 25px;
}
.carte__container .carte__container__top .like-button .fa-heart {
  font-size: 30px;
}
.carte__container .carte__container__top .like-button .heart {
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 2px white;
}
.carte__container .carte__container__top .like-button .heart-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.6s ease;
}
.carte__container .carte__container__top .like-button .heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}
.carte__container .carte__container__top .like-button .heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}
.carte__container section {
  display: flex;
  flex-direction: column;
}
.carte__container section h3 {
  color: grey;
  text-transform: uppercase;
  font-weight: 200;
  border-bottom: 4px solid #99E2D0;
}
.carte__container section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.carte__container section ul li {
  width: 95%;
  background: #FFF;
  box-shadow: 2px 2px 10px #dbd9d9;
  border-radius: 20px;
  margin: 0 0 20px 0;
  display: flex;
}
.carte__container section ul li .choice1 {
  transition-duration: 2s;
}
.carte__container section ul li .choice2 {
  transition-duration: 4s;
}
.carte__container section ul li .choice3 {
  transition-duration: 6s;
}
.carte__container section ul li .carte-choice {
  flex: 1;
  padding: 20px;
}
.carte__container section ul li .carte-choice h4 {
  font-size: 1.2em;
  margin: 0;
}
.carte__container section ul li .carte-choice a {
  color: #000;
  text-decoration: none;
}
.carte__container section ul li .carte-choice a:hover {
  color: #99E2D0;
}
.carte__container section ul li .carte-choice .carte-desc {
  display: flex;
  align-items: center;
}
.carte__container section ul li .carte-choice .carte-desc p {
  margin: 0;
  color: grey;
  flex: 1;
}
.carte__container section ul li .carte-choice .carte-desc .choice-price {
  margin: 0;
  font-weight: 800;
}
.carte__container section ul li .carte-valide {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: none;
}
.carte__container section ul li .carte-valide .fas-circle {
  font-size: 1.5em;
  color: #FFF;
}
.carte__container section ul li:hover {
  cursor: pointer;
}
.carte__container section ul li:hover .carte-valide {
  display: flex;
}
.carte__container section .carte-check {
  width: 200px;
  margin: 0px auto;
  padding: 20px 30px 20px 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.carte__container section .carte-check:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 5px 5px 10px #FFF;
}

footer {
  margin: 0;
  padding: 20px;
  color: #FFF;
  background-color: #353535;
}
footer h2 {
  margin: 0;
  font-weight: 100;
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  margin: 10px 0 0 0;
}
footer ul li .fa-utensils, footer ul li .fa-hands-helping {
  margin: 0 10px 0 0;
}
footer ul a {
  color: #FFF;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
