body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-family: "Shrikhand", cursive;
}
body h2 {
  font-size: 1.7rem;
  font-weight: 900;
  margin: 40px 0 0 20px;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}
header h1 {
  width: 300px;
  margin: 0;
  font-weight: 200;
  text-align: center;
}

.location {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;
}
.location__city {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
.location__city span {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 70px;
}
.location__city input {
  background: #EAEAEA;
  font-size: 1em;
  padding: 10px;
  border: none;
}
.location__city input::placeholder {
  font-weight: bold;
}
.location__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
}
.location__container h2 {
  width: 70%;
}
.location__container p {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 700;
  color: grey;
  margin: 20px 0 60px 0;
}
.location__container span {
  padding: 20px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: bold;
}
.location__container a {
  text-decoration: none;
}

.operation {
  margin: 40px 0 30px 0;
  padding: 0;
}
.operation ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.operation ul a {
  width: 80%;
  margin: 0 0 20px 0;
  padding: 20px;
  text-decoration: none;
  color: #000;
  background: #F6F6F6;
  box-shadow: 5px 5px 10px #EAEAEA;
  border-radius: 15px;
  display: flex;
}
.operation ul a li {
  width: 90%;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 0 10px;
}
.operation ul a li i {
  color: grey;
  margin: 0 20px 0 0;
}
.operation ul a span {
  width: 10px;
  height: 10px;
  position: relative;
  padding: 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background: #9356DC;
  color: #FFF;
  left: -30px;
  top: -1px;
}
.operation ul .a--event {
  background-color: rgba(147, 86, 220, 0.1);
}
.operation ul .a--event i {
  color: #9356DC;
}

.operation_float {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  left: -15px;
  padding: 5px;
  color: #FFFFFF;
  background: #9356DC;
}

.restaurants {
  padding: 25px 0 80px 0;
  background: #F6F6F6;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurants__container figure {
  width: 80%;
  background: #FFF;
  margin: 30px 0 0 0;
  padding: 0 0 15px 0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #EAEAEA;
}
.restaurants__container figure .figure__new {
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px 5px 10px;
  font-size: 0.9em;
  font-weight: 700;
  position: relative;
  margin: 0;
  z-index: 1;
  bottom: 240px;
  left: 290px;
}
.restaurants__container figure img {
  width: 100%;
  height: 200px;
  margin: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__container figure figcaption {
  padding: 10px 0 0 15px;
  display: flex;
  align-items: center;
}
.restaurants__container figure figcaption a, .restaurants__container figure figcaption p {
  font-size: 1.1em;
}
.restaurants__container figure figcaption p {
  margin: 0;
}
.restaurants__container figure figcaption a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  transition-duration: 400ms;
}
.restaurants__container figure figcaption a:hover {
  color: #9356DC;
}
.restaurants__container figure figcaption div {
  flex: 1;
}
.restaurants__container figure figcaption .like-heart {
  font-size: 30px;
  margin: 0 40px 0 0;
  transition-duration: 400ms;
}
.restaurants__container figure figcaption .like-heart:hover {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #9356DC;
}

footer {
  padding: 20px;
  color: #FFF;
  background-color: #353535;
}
footer h2 {
  margin: 0;
  font-weight: 100;
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  margin: 10px 0 0 0;
}
footer ul li .fa-utensils, footer ul li .fa-hands-helping {
  margin: 0 10px 0 0;
}
footer ul a {
  color: #FFF;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
